.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.main{
    color: black;
    display: block;
    font-size:1.7rem;
    background-color: yellow;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    block-size: 2.1rem;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
}

a > span{
    margin: 0 30px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.user__avatar {
    font-size: 2rem;
}